<!--
<p>Details zu {{arbeitszeit?.datum}}</p>
-->
<!--
<div><span>id: </span>{{arbeitszeit?.id}}</div>
-->
<!--
<div><span>Datum: </span>{{arbeitszeit?.datum}}</div>
<div><span>Von: </span>{{arbeitszeit?.von}}</div>
<div><span>Bis: </span>{{arbeitszeit?.bis}}</div>
<div><span>Pause: </span>{{arbeitszeit?.pause}}</div>
-->
<div *ngIf="arbeitszeit">

  <mat-form-field appearance="fill">
    <mat-label>Datum</mat-label>
    <input matInput [matDatepicker]="picker3" [(ngModel)]="arbeitszeit.datum">
    <mat-hint>DD.MM.YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
    <mat-error>
      Gültiges Datum eingeben
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Von</mat-label>
    <!--<input matInput value="{{arbeitszeit?.von}}">-->
    <input matInput id="von" [(ngModel)]="arbeitszeit.von" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bis</mat-label>
    <!--<input matInput value="{{arbeitszeit?.bis}}">-->
    <input matInput id="bis" [(ngModel)]="arbeitszeit.bis" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pause</mat-label>
    <!--<input matInput type="number" value="{{arbeitszeit?.pause}}">-->
    <input matInput id="pause" type="number" [(ngModel)]="arbeitszeit.pause" />
  </mat-form-field>
</div>

<!--
<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>First campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start"
    [comparisonEnd]="campaignTwo.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>

-->
<!--
<input id="pause" [(ngModel)]="arbeitszeit?.pause" placeholder="Pause"/>
-->
<!--
<input id="pause" [(ngModel)]="arbeitszeit?.pause" placeholder="Pause"/>
-->
<!--
<mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
-->
<!--
<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field appearance="legacy">
  <mat-label> Legacy form field </mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix> sentiment_very_satisfied </mat-icon>
  <mat-hint> Hint </mat-hint>
</mat-form-field>
-->
<!--
<p>{{arbeitszeit.id}}</p>
-->

<!--
<div *ngIf="arbeitzeit">
  <h2>{{arbeitszeit?.id}} Details</h2>
-->
<!--
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  -->
<!--
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
-->
<div>
  <button type="button" (click)="goBack()">zurück</button>
  <button type="button" (click)="save()">speichern</button>
</div>