:host {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

mat-tab-nav-panel {
    display: block;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.container {
    display: grid;
    text-align: center;
    grid-template-rows: auto auto 1fr;
    // position: sticky;
    // height: 100vh;
}
