<div class="container">

  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="toolbar">{{title}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="save()">
          <mat-icon>save</mat-icon>
          <span>Daten exportieren</span>
        </button>
        <button mat-menu-item (click)="load()">
          <mat-icon>file_open</mat-icon>
          <span>Daten importieren</span>
        </button>
      </mat-menu>    
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- TODO Wann verwendet man eckige Klammern? -->
  <nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
    <a mat-tab-link href="/arbeitszeit">Arbeitszeit</a>
    <a mat-tab-link href="/uebersicht">Übersicht</a>
  </nav>
</div>

<!--
<nav>
  <a routerLink="/arbeitszeit">Arbeitszeit</a>
  <a routerLink="/uebersicht">Übersicht</a>
</nav>
-->

<mat-tab-nav-panel #tabPanel>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>




<!--
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Arbeitszeit">Arbeitszeit</mat-tab>
  <mat-tab label="Übersicht">Übersicht</mat-tab>
</mat-tab-group>
-->

<!--
<p>Test2</p>
-->
<!--<router-outlet></router-outlet>-->
<!--
<mat-list role="list">

  <mat-list-item *ngFor="let arbeitszeit of arbeitszeiten ">
    {{arbeitszeit.datum}}
  </mat-list-item>

</mat-list>
-->

<!-- <list-arbeitszeit></list-arbeitszeit>-->